<form (ngSubmit)="onSubmit()" #buyerForm="ngForm">
  <div style="max-height: 500px; overflow-y: auto">
    <table>
      <tr>
        <td>Seller:</td>
        <td>
          <select
            [(ngModel)]="selectedBuyerId"
            name="seller"
            [ngModelOptions]="{ standalone: true }"
            (change)="onBuyerChange()"
            class="fixed-width"
          >
            <option *ngFor="let b of buyers" [value]="b.id">
              {{ b.name }}
            </option>
          </select>
        </td>
      </tr>
      <tr>
        <td>
          <label>Name:</label>
        </td>
        <td>
          <input
            type="text"
            [(ngModel)]="updBuyer.name"
            name="name"
            class="form-control fixed-width"
            required
          />
        </td>
        <td>
          <label>Social Security Number:</label>
        </td>
        <td>
          <input
            type="number"
            [(ngModel)]="updBuyer.socialSecurityNumber"
            name="birthday"
            class="form-control fixed-width"
            required
          />
        </td>
      </tr>
      <tr>
        <td colspan="2">
          <br />
        </td>
      </tr>
      <tr>
        <td colspan="2">
          <input
            class="btn btn-primary mt-2"
            type="submit"
            value="Update"
            [disabled]="!buyerForm.valid"
          />
        </td>
      </tr>
    </table>
  </div>
</form>

<div *ngIf="showMessage" class="message-container">
  <div class="message-box">
    <p>{{ message }}</p>
    <button (click)="closeMessage()">Cerrar</button>
  </div>
</div>
