<div>
  <!-- Rótulo con imagen en la parte superior -->
  <header style="background-color: #d6e9e9; color: black; padding: 20px; text-align: center;">
    <!-- Corregir el uso de comillas aquí -->
    <img src="assets/images/seller.png" alt="Logo" style="max-width: 50px;max-height: 50px; vertical-align: middle; margin-right: 20px;">
    <span style="font-size: 24px; vertical-align: middle;">Sellers Management</span>
  </header>

  <!-- Contenedor principal con el menú lateral y contenido -->
  <div style="display: flex">
    <!-- Menú lateral -->
    <div style="width: 200px; background-color: #f4f4f4; padding: 10px;">
      <ul>
        <li><a routerLink="/info-sellers" routerLinkActive="active">Info Sellers</a></li>
        <li><a routerLink="/add-sellers" routerLinkActive="active">Add Sellers</a></li>
        <li><a routerLink="/update-sellers" routerLinkActive="active">Update Sellers</a></li>
        <li><a routerLink="/delete-sellers" routerLinkActive="active">Delete Sellers</a></li>
      </ul>
    </div>

    <!-- Contenido principal -->
    <div style="flex-grow: 1; padding: 20px;">
      <router-outlet></router-outlet>  <!-- Aquí se cargarán los componentes -->
    </div>
  </div>
</div>
