 /* Estilos generales para la tabla */
 #tblBuyers table {

    border-collapse: collapse; /* Hace que los bordes se fusionen */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra ligera alrededor de la tabla */
  
  }
  
  /* Estilos para las celdas del encabezado */
  #tblBuyers th {
    background-color: #343a40; /* Fondo oscuro */
    color: white; /* Texto blanco */
    text-align: left; /* Alineación a la izquierda */
  
  }
  
  /* Estilos para las celdas de la tabla */
  #tblBuyers td {
    
    text-align: left; /* Alineación a la izquierda */
  
    color: #555; /* Color de texto más suave */
  }
  
  /* Estilo para las filas alternas (filas impares) */
  #tblBuyers tr:nth-child(odd) {
    background-color: #f9f9f9; /* Fondo claro para las filas impares */
  }
  
  /* Estilo para las filas cuando el mouse pasa por encima */
  #tblBuyers tr:hover {
    background-color: #f1f1f1; /* Fondo ligeramente gris al pasar el ratón */
    cursor: pointer; /* Cambia el cursor a mano */
  }
    
  /* Estilo para la primera columna, si quieres que se destaque */
  #tblBuyers td:first-child {
    font-weight: bold; /* Resalta la primera columna con negritas */
  }