<div style="max-height: 500px; overflow-y: auto">
  <table
    class="table table-bordered"
    style="width: 100%; border-collapse: collapse"
  >
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Packaging Date</th>
      <th>Stock</th>
      <th>Price</th>
      <th>Action</th>
    </tr>
    <tbody *ngIf="products.length > 0; else msgNoData">
      <tr *ngFor="let v of products">
        <td>{{ v.id }}</td>
        <td style="text-align: left">{{ v.name }}</td>
        <td style="text-align: left">
          {{ v.packagingDate | date : "dd/MM/YYYY" }}
        </td>
        <td style="text-align: left">{{ v.stock }}</td>
        <td style="text-align: left">{{ v.price }}</td>
        <td style="text-align: left">
          <img
            src="assets/images/trash-alt.svg"
            style="max-width: 20px; max-height: 20px"
            (click)="deleteProduct(v.id)"
            class="cursor-img"
            title="Delete seller."
          />
        </td>
      </tr>
    </tbody>
    <ng-template #msgNoData>
      <div style="text-align: center">No data available..</div>
    </ng-template>
  </table>
</div>

<div *ngIf="messageService.showMessage" class="message-container">
  <div class="message-box">
    <p>{{ messageService.message }}</p>
    <button (click)="closeMessage()">Close</button>
  </div>
</div>
