<div style="max-height: 500px; overflow-y: auto">
  <table
    id="tblProducts"
    class="table table-bordered"
    style="width: 100%; border-collapse: collapse"
  >
    <th>ID</th>
    <th>Name</th>
    <th>Packaging Date</th>
    <th>Stock</th>
    <th>Price</th>
    <tbody>
      <tr *ngFor="let p of products">
        <td>{{ p.id }}</td>
        <td>{{ p.name }}</td>
        <td>{{ p.packagingDate | date : "dd/MM/yyyy" }}</td>
        <td>{{ p.stock }}</td>
        <td>{{ p.price }}</td>
      </tr>
    </tbody>
  </table>
</div>

<div>
  <table style="width: 100%">
    <tr>
      <td *ngIf="products.length > 0; else msgNoData">
        <img
          src="assets/images/excel.svg"
          style="max-width: 30px; max-height: 30px"
          (click)="exportToExcel()"
          class="cursor-img"
          class="cursor-img"
          title="Export to EXCEL"
        />
        <img
          src="assets/images/pdf.svg"
          style="max-width: 30px; max-height: 30px"
          (click)="exportToPDF()"
          class="cursor-img"
          class="cursor-img"
          title="Export to PDF"
        />
      </td>
    </tr>
  </table>
</div>

<ng-template #msgNoData>
  <div style="text-align: center">No data available...</div>
</ng-template>

<div *ngIf="messageService.showMessage" class="message-container">
  <div class="message-box">
    <p>{{ messageService.message }}</p>
    <button (click)="closeMessage()">Close</button>
  </div>
</div>
